---
title: Контакты
map: true
app: false
---
{% extends "layouts/_layout.html" %}
{% block content %}

		<div class="contacts">
			<div class="container">
				<div class="slide slide_contacts">
					<div class="slide__box">

							<div class="contacts-container">
								<h2 class="h2">КОНТАКТЫ</h2>
								<ul class="contacts-list">
									<li>
										<div class="contacts-list__icon"><i class="icon icon-adress"></i></div>
										<h3 class="contacts-list__title">Наш адрес:</h3>
										<div class="contacts-list__description">
											<p>630054, г. Новосибирск
												Крашенинникова 3-ий пер.,
												дом 3, офис 305</p>
										</div>
									</li>
									<li>
										<div class="contacts-list__icon"><i class="icon icon-operator"></i></div>
										<h3 class="contacts-list__title">Телефон диспечера</h3>
										<div class="contacts-list__description">
											<p>8 (383) 299-31-99</p>
										</div>
									</li>
									<li>
										<div class="contacts-list__icon"><i class="icon icon-mail"></i></div>
										<h3 class="contacts-list__title">Электронная почта</h3>
										<div class="contacts-list__description">
											<p>eco-fly@mail.ru</p>
										</div>
									</li>
									<li>
										<div class="contacts-list__icon"><i class="icon icon-fax"></i></div>
										<h3 class="contacts-list__title">Телефон / факс</h3>
										<div class="contacts-list__description">
											<p>8 (383) 355-99-24</p>
										</div>
									</li>
									<li>
										<div class="contacts-list__icon"><i class="icon icon-vk"></i></div>
										<h3 class="contacts-list__title">Мы в соц. сетях</h3>
										<div class="contacts-list__description">
											<p>vk.com/eco-fly</p>
										</div>
									</li>
									<li>
										<div class="contacts-list__icon"><i class="icon icon-planet"></i></div>
										<h3 class="contacts-list__title">Наш сайт</h3>
										<div class="contacts-list__description">
											<p>www.eco-fly.ru</p>

										</div>
									</li>
								</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div id="map" class="map">
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=eIWfyCaPEx80HfBJ0D5n9heDXViQwLwa&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=false"></script>
		</div>

{% endblock %}
