<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer-box footer-box_center">
				<h6 class="footer__title">карта сайта</h6>
				<ul class="footer-list">
					<li><a href="index.html">О компании</a></li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Tехника</a></li>
					<li><a href="documentation.html">Документация</a></li>
					<li><a href="#">Нам доверяют</a></li>
				</ul>
				<ul class="footer-list">
					<li><a href="#">Услуги</a></li>
					<li><a href="#">Вывоз бытового мусора (тко)</a></li>
					<li><a href="#">Крупногабаритный мусор (кгм)  </a></li>
					<li><a href="#">Вывоз строительного мусора</a></li>
					<li><a href="#">Контейнеры для тко и кгм</a></li>
				</ul>
				<ul class="footer-list">
					<li><a href="#">Цены</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
			</div>
			<div class="footer-box footer-box_left">
				<h6 class="footer__title ">о нас</h6>
				<div class="footer__logo" style="background-image: url(img/logo-footer.png);"></div>
				<div class="footer__description">Вывоз мусора
	в Новосибирске и НСО</div>
			</div>
			<div class="footer-box footer-box_right">
				<h6 class="footer__title">контакты</h6>
				<div class="footer__contacts">
					<p>630054, г.Новосибирск,
Крашенинникова 3 пер.,
д.3, оф.305</p>
				</div>
				<div class="footer__contacts">
					<p>диспетчер: +7 (383) 299-31-99
тел/факс:    +7 (383) 355-99-24
e-mail:         eco-fly@mail.ru</p>
				</div>
			</div>


			<div class="copywrite">
				<div class="copywrite__block">
					<p>ООО ЭкоФлай © 2016</p>
				</div>
				<div class="copywrite__block">
					<p>Программирование: InterLand</p>
				</div>

			</div>
		</div>
	</div>

</footer>
