<div class="slider__slide slide">
    <div class="slide__box">

    <div class="slide__content">
        <div class="slide__inner">
            <h4 class="slide__title">От 240 руб. за бак 1,1 м3 <br> при разгрузке нашими силами</h4>
            <div class="slide__text">
                <p>Компания Экофлай осуществляет качественно и в срок вывоз твердых бытовых отходов. Своевременный вывоз мусора ТБО  – основной показатель качества нашей работы.  Мы согласовываем с каждым клиентом график вывоза мусора и строго придерживаемся этого графика.</p>
            </div>
            <div class="slide__btn"><a href="#calc" class="btn-calc js-btn-calc">Рассчитать стоимость</a></div>
        </div>
    </div>
        <div class="slide__image " style="background-image: url(img/car.png);">
            <div class="slide-buy">
                <div class="slide-buy__text">Заказать услугу</div>
                <div class="slide-buy__btn">
                    <button class="btn-buy js-show-modal">Заказать</button>
                </div>
            </div>
        </div>


    </div>
</div>

<!--  -->
<div class="slider__slide slide">
    <div class="slide__box">
        <div class="slide__image " style="background-image: url(img/car.png);">
            <div class="slide-buy">
                <div class="slide-buy__text">Заказать услугу</div>
                <div class="slide-buy__btn">
                    <button class="btn-buy js-show-modal">Заказать</button>
                </div>
            </div>
        </div>

        <div class="slide__content">
            <div class="slide__inner">
                <h4 class="slide__title">От 240 руб. за бак 1,1 м3 <br> при разгрузке нашими силами</h4>
                <div class="slide__text">
                    <p>Компания Экофлай осуществляет качественно и в срок вывоз твердых бытовых отходов. Своевременный вывоз мусора ТБО  – основной показатель качества нашей работы.  Мы согласовываем с каждым клиентом график вывоза мусора и строго придерживаемся этого графика.</p>
                </div>
                <div class="slide__btn"><a href="#calc" class="btn-calc js-btn-calc">Рассчитать стоимость</a></div>
            </div>
        </div>
    </div>
</div>

<div class="slider__slide slide">
    <div class="slide__box">
        <div class="slide__image " style="background-image: url(img/car.png);">
            <div class="slide-buy">
                <div class="slide-buy__text">Заказать услугу</div>
                <div class="slide-buy__btn">
                    <button class="btn-buy js-show-modal">Заказать</button>
                </div>
            </div>
        </div>

        <div class="slide__content">
            <div class="slide__inner">
                <h4 class="slide__title">От 240 руб. за бак 1,1 м3 <br> при разгрузке нашими силами</h4>
                <div class="slide__text">
                    <p>Компания Экофлай осуществляет качественно и в срок вывоз твердых бытовых отходов. Своевременный вывоз мусора ТБО  – основной показатель качества нашей работы.  Мы согласовываем с каждым клиентом график вывоза мусора и строго придерживаемся этого графика.</p>
                </div>
                <div class="slide__btn"><a href="#calc" class="btn-calc js-btn-calc">Рассчитать стоимость</a></div>
            </div>
        </div>
    </div>
</div>

<div class="slider__slide slide">
    <div class="slide__box">
        <div class="slide__image " style="background-image: url(img/car.png);">
            <div class="slide-buy">
                <div class="slide-buy__text">Заказать услугу</div>
                <div class="slide-buy__btn">
                    <button class="btn-buy js-show-modal">Заказать</button>
                </div>
            </div>
        </div>

        <div class="slide__content">
            <div class="slide__inner">
                <h4 class="slide__title">От 240 руб. за бак 1,1 м3 <br> при разгрузке нашими силами</h4>
                <div class="slide__text">
                    <p>Компания Экофлай осуществляет качественно и в срок вывоз твердых бытовых отходов. Своевременный вывоз мусора ТБО  – основной показатель качества нашей работы.  Мы согласовываем с каждым клиентом график вывоза мусора и строго придерживаемся этого графика.</p>
                </div>
                <div class="slide__btn"><a href="#calc" class="btn-calc js-btn-calc">Рассчитать стоимость</a></div>
            </div>
        </div>
    </div>
</div>
<!--  -->
